# Google Gemini API Key
GEMINI_API_KEY=

# App URL (Use http://localhost:3000 for local dev)
VITE_APP_URL=http://localhost:3000

# OCR.space API Key (Get at https://ocr.space/ocrapi)
OCR_API_KEY=

# Firebase Configuration
# Not needed in .env as it resides in firebase-applet-config.json